@page "/myinfo"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using PersonalRecipeManagerWebApp.Models
@using PersonalRecipeManagerWebApp.Data
@using PersonalRecipeManagerWebApp.Services
@inject IHandleInteractionService InteractionService
@inject NavigationManager NavigationManager

<PageTitle>My Information</PageTitle>

<div class="text-center ml-32 mr-32 space-y-4">
    <h1 class="text-3xl font-bold">My Information</h1>

    @if (user is null)
    {
        <p>Loading...</p>
    }
    else
    {
        <div class="flex flex-col ml-64 mr-64 space-y-4 ">
            <RadzenStack Orientation="Orientation.Vertical" Gap="1rem" class="bg-slate-300 rz-p-4 rz-mb-6 rz-border-radius-1" Style="border: var(--rz-grid-cell-border);">
                <RadzenStack Gap="0.5rem" Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                    <RadzenLabel Text="Edit User Information:" />
                    <RadzenSwitch @bind-Value="disabled" />
                </RadzenStack>
            </RadzenStack>
        
            <RadzenStack Orientation="Orientation.Vertical" Wrap="FlexWrap.Wrap" Gap="1rem">
                <RadzenFormField Text="Name" Variant="Variant.Outlined" Style="flex: 1;">
                    <RadzenTextBox @bind-Value="@user.Name" Disabled="@(!disabled)" />
                </RadzenFormField>
                <RadzenFormField Text="Age" Variant="Variant.Outlined" Style="flex: 1;">
                    <RadzenNumeric @bind-Value="@user.Age" Disabled="@(!disabled)" />
                </RadzenFormField>
                <RadzenFormField Text="Cooking Skill" Variant="Variant.Outlined" Style="flex: 1;">
                    <RadzenNumeric @bind-Value="@user.CookingSkill" Disabled="@(!disabled)" />
                </RadzenFormField>
            </RadzenStack>

            <RadzenButton Text="Save" Click="@OnClick" />
        </div>
    }
</div>