@page "/myrecipes/editrecipe"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using PersonalRecipeManagerWebApp.Models.Ingredients
@using PersonalRecipeManagerWebApp.Models.Equipment
@using PersonalRecipeManagerWebApp.Services
@using PersonalRecipeManagerWebApp.Data
@inject IHandleInteractionService InteractionService

<PageTitle>Recipe Edit</PageTitle>
@if (isLoading)
{
    <p>Loading...</p>
}
else
{
    <RadzenStack Gap="20px" Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween" Style="height: 100%;" class="pr-32 pl-32 flex-column flex-wrap">
        <RadzenStack>
            <RadzenRow>
                <RadzenRow Size="14" SizeMD="8" class="bg-slate-200 p-4 flex-column flex-row rz-border-radius-1" Style="border: var(--rz-grid-cell-border); width: 100%; max-width: 100%">
                    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="70" >
                        <RadzenStack Gap="0" class="rz-text-truncate">
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-mt-2 rz-my-0" Style="color: var(--rz-text-tertiary-color);">Name</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1" class="rz-text-truncate" Visible="@(disabled)"><b>@(recipe.Name)</b></RadzenText>
                            <RadzenTextBox @bind-Value="recipe.Name" Visible="@(!disabled)" />
                        </RadzenStack>
                        <RadzenStack Gap="0" class="rz-text-truncate">
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-mt-2 rz-my-0" Style="color: var(--rz-text-tertiary-color);">Difficulty</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1" class="rz-text-truncate" Visible="@(disabled)"><b>@(recipe.Difficulty)</b></RadzenText>
                            <RadzenNumeric @bind-Value="recipe.Difficulty" Visible="@(!disabled)" />
                        </RadzenStack>
                        <RadzenStack Gap="0" >
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-mt-2 rz-my-0" Style="color: var(--rz-text-tertiary-color);">Time</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1" class="rz-text-truncate" Visible="@(disabled)"><b>@(recipe.Time)</b></RadzenText>
                            <RadzenNumeric @bind-Value="recipe.Time" Visible="@(!disabled)" />
                        </RadzenStack>
                        <RadzenStack Gap="0" >
                            <RadzenText TextStyle="TextStyle.Overline" class="rz-mt-2 rz-my-0" Style="color: var(--rz-text-tertiary-color);">Cost</RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1" class="rz-text-truncate"><b>@($"{String.Format(new System.Globalization.CultureInfo("en-US"), "{0:C}", recipe.Cost)}")</b></RadzenText>
                        </RadzenStack>
                        <RadzenButton class="w-50" ButtonStyle="ButtonStyle.Primary" Text="Back to Recipes" Click="@NavigateToRecipes" Visible="@(disabled)" />
                        <RadzenButton class="w-35" ButtonStyle="ButtonStyle.Primary" Text="Edit" Click="@OnClickEditRecipeInfo"  Visible="@(disabled)" />
                        <RadzenButton class="w-35" ButtonStyle="ButtonStyle.Primary" Text="Save" Click="@OnClickSaveRecipeInfo"  Visible="@(!disabled)" />
                    </RadzenStack>
                </RadzenRow>
            </RadzenRow>
            <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.SpaceBetween" AlignItems="AlignItems.Center">
                <RadzenDataGrid @ref="ingredientsGrid"
                                AllowPaging="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" TItem="RecipeIngredientsViewModel"
                                Data="@(recipeIngredients)" ColumnWidth="200px" Density="Density.Compact" AllowAlternatingRows="false"
                                RowUpdate="@OnUpdateRowIngredient"
                                RowCreate="@OnCreateRowIngredient">

                    <HeaderTemplate>
                        <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle" Text="Add Additional Ingredient" Click="@InsertRowIngredient" Disabled="@disableAdd" />
                    </HeaderTemplate>
                    <Columns>
                        <RadzenDataGridColumn TItem="RecipeIngredientsViewModel" Width="80px" Property="Name" Title="Name">
                            <EditTemplate Context="recipeIngredientsDto">
                                <RadzenDropDown @bind-Value="recipeIngredientsDto.Id" Data="@allIngredients"
                                                ValueProperty="Id" TextProperty="Name" Style="width:200px; display: block" Name="Name" aria-label="Enter Name" />
                                <RadzenRequiredValidator Text="Name is required" Component="Name" Popup="true" />
                            </EditTemplate>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RecipeIngredientsViewModel" Width="30px" Property="Quantity" Title="Quantity">
                            <EditTemplate Context="recipeIngredientsDto">
                                <RadzenNumeric @bind-Value="recipeIngredientsDto.Quantity" Style="width:100%"
                                               InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Select Quantity" }})" />
                            </EditTemplate>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RecipeIngredientsViewModel" Width="60px" Property="UnitOfMeasurement" Title="Units">
                            <EditTemplate Context="recipeIngredientsDto">
                                <RadzenTextBox @bind-Value="recipeIngredientsDto.UnitOfMeasurement" Style="width:200px; display: block"
                                               Name="UnitOfMeasurement" aria-label="Enter Unit Of Measurement" />
                                <RadzenRequiredValidator Text="Unit Of Measurement is required" Component="UnitOfMeasurement" Popup="true" />
                            </EditTemplate>
                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn Width="50px" Context="recipeIngredientsDto" Filterable="false" Sortable="false" TextAlign="TextAlign.Right"
                                              Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                            <Template Context="recipeIngredientsDto">
                                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                              Click="@(args => EditRowIngredient(recipeIngredientsDto))" @onclick:stopPropagation="true">
                                </RadzenButton>
                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter"
                                              Size="ButtonSize.Small" class="rz-my-1 rz-ms-1" @onclick:stopPropagation="true"
                                              Click="@((args) => DeleteIngredientRow(recipeIngredientsDto))">
                                </RadzenButton>
                            </Template>
                            <EditTemplate Context="recipeIngredientsDto">
                                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Click="@((args) => SaveRowIngredient(recipeIngredientsDto))"
                                              Size="ButtonSize.Small" aria-label="Save">
                                </RadzenButton>
                                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Small"
                                              Click="@((args) => CancelEditIngredient(recipeIngredientsDto))" class="rz-my-1 rz-ms-1" aria-label="Cancel">
                                </RadzenButton>
                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter"
                                              Click="@((args) => DeleteIngredientRow(recipeIngredientsDto))" Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1" aria-label="Delete">
                                </RadzenButton>
                            </EditTemplate>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>

                <RadzenDataGrid @ref="equipmentGrid" AllowPaging="true"
                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Data="@(recipeEquipment)" ColumnWidth="200px"
                                Density="Density.Compact" AllowAlternatingRows="false" TItem="RecipeEquipmentViewModel"
                                RowUpdate="@OnUpdateRowEquipment"
                                RowCreate="@OnCreateRowEquipment">

                    <HeaderTemplate>
                        <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle" Text="Add Additional Equipment" Click="@InsertRowEquipment" Disabled="@disableAdd" />
                    </HeaderTemplate>
                    <Columns>
                        <RadzenDataGridColumn TItem="RecipeEquipmentViewModel" Width="80px" Property="Name" Title="Name">
                            <EditTemplate Context="recipeEquipmentDto">
                                <RadzenDropDown @bind-Value="recipeEquipmentDto.Id" Data="@allEquipment"
                                                ValueProperty="Id" TextProperty="Name" Style="width:200px; display: block" Name="Name" aria-label="Enter Name" />
                                <RadzenRequiredValidator Text="Name is required" Component="Name" Popup="true" />
                            </EditTemplate>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="RecipeEquipmentViewModel" Width="30px" Property="Quantity" Title="Quantity">
                            <EditTemplate Context="recipeEquipmentDto">
                                <RadzenNumeric @bind-Value="recipeEquipmentDto.Quantity" Style="width:100%"
                                               InputAttributes="@(new Dictionary<string,object>(){ { "aria-label", "Select Quantity" }})" />
                            </EditTemplate>
                        </RadzenDataGridColumn>

                        <RadzenDataGridColumn Width="50px" Context="recipeEquipmentDto" Filterable="false" Sortable="false" TextAlign="TextAlign.Right"
                                              Frozen="true" FrozenPosition="FrozenColumnPosition.Right">
                            <Template Context="recipeEquipmentDto">
                                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                              Click="@(args => EditRowEquipment(recipeEquipmentDto))" @onclick:stopPropagation="true">
                                </RadzenButton>
                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter"
                                              Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1" @onclick:stopPropagation="true"
                                              Click="@((args) => DeleteEquipmentRow(recipeEquipmentDto))">
                                </RadzenButton>
                            </Template>
                            <EditTemplate Context="recipeEquipmentDto">
                                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Click="@((args) => SaveRowEquipment(recipeEquipmentDto))"
                                              Size="ButtonSize.Medium" aria-label="Save">
                                </RadzenButton>
                                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium"
                                              Click="@((args) => CancelEditEquipment(recipeEquipmentDto))" class="rz-my-1 rz-ms-1" aria-label="Cancel">
                                </RadzenButton>
                                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter"
                                              Click="@((args) => DeleteEquipmentRow(recipeEquipmentDto))" Size="ButtonSize.Medium" class="rz-my-1 rz-ms-1" aria-label="Delete">
                                </RadzenButton>
                            </EditTemplate>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </RadzenStack>
            <RadzenStack Orientation="Orientation.Vertical" JustifyContent="JustifyContent.Normal" AlignItems="AlignItems.Center" Gap="0">
                <RadzenLabel class="text-base" Text="Recipe Instructions" />
                <RadzenLabel class="text-sm" Text="Add STEP # before each step" />
                <RadzenTextArea Placeholder="Add Instructions" @bind-Value=recipe.Instructions class="h-48 w-full align-top pt-0"/>
            </RadzenStack>
        </RadzenStack>
    </RadzenStack>
}